{% extends 'sublog/base.html' %}

{% block login %}
    <div class="large">
        <form action="/auth/login" method="postost">
            {% csrf_token %}
            <label for="username"> Имя пользователя </label>
            <input type="text" name="username" id="username">
            <br>
            <br>
            <label for="password"> Пароль </label>
            <input type="password" name="password" id="password">
            {% if login_error %}
                <label class="error"> {{ login_error }} </label>
            {% endif %}
            <br>
            <br>
            <input class="button" type="submit" value="Войти">
        </form>
    </div>
{% endblock %}