{% load staticfiles %}
<html>
    <head>
        <title> cybernews  </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <div class="page-header">
            <br><br>
            <h1><a href="/"><b> киберздравствуйте </b> </a></h1>
            {% if user.is_authenticated %}
               <div class="plus"> <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                </div>

            {% endif %}
             <div class="top-bar">
                <ul class="right">
                    {% if username %}
                        <li><a href="/auth/logout/"> Выйти ({{ username }})</a></li>
                    {% else %}
                        <li><a href="/auth/login/"> Войти </a> </li>
                        <li><a href="/auth/register/"> Регистрация </a> </li>
                    {% endif %}
                </ul>
        </div>
            <br><br>

    </div>
        <div class="content">
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
                {% block login %} {% endblock %}
                {% block register %} {% endblock %}
            </div>
        </div>
    </div>
        </div>

    </body>
</html>