
{% extends 'sublog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="pencil">
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        {% endif %}
        <div class="post_header">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="post_img">
            {% if post.post_img %}
                <p><img src="{{ MEDIA_URL }}{{ post.post_img.url }}"></p>
            {% endif %}
        </div>
        <div class="post_text">
            <p>{{ post.text|linebreaksbr}}</p>

        </div>
    </div>
{% endblock %}